<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Animated Login Form</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>

	<form class="box" action="/employee" method="POST">
		<h1>Login</h1>
		<input type="text" name="username" placeholder="Username">
		<input type="password" name="password" placeholder="Password">
		<input type="submit" name="" value="Login">
		<!-- <p style="color: white;">-or-</p>
		<h1 class="qrh"><b>Login using QR image</b></h1>
		<div class="container">
			<div class="button-wrap">
			  <label class="button" for="upload" style="color: white;">Upload File</label>
			  <input id="upload" type="file">
			  <input type="button" name="qrlogin" value="Login">
			</div>
		</div> -->
		
	</form>

</body>
</html>